.registerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.uploadBox {
  /* flex-basis: 50%; */
  display: flex;
  width: 450px;
}

.inputRegisterBox {
  /* flex-basis: 50%; */
  display: flex;
  width: 400px;
}

.chatBox {
  display: flex;
  justify-content: space-between;
  width: 910px;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}