.decriptionBox {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.detailBox{
  display: flex;
  flex-direction: column;
}

.imagesBox {
  padding-top: 35px;
  width: 600px;
  height: 570px;
  display: flex;
  flex-direction: column;
  background: black;
  border-radius: 5px;
}

.SwiperBox{
  width: 600px;
  padding-left: 25px;
}

.Small_Img{
  width : 100px;
  height : 80px;
  cursor: pointer;
}

.priceBox{
  background-color: grey;
  font-size: x-large;
  
}

.profileBox {
  display: flex;
  flex-direction: row;
}
.likeBtn{
  display: flex;
  flex-direction: row;
}

.contentBox {
  display: flex;
  justify-content: center;
  border: 0.2ch solid crimson;
  width: 600px;
  height: 300px;
}