.chatContainer {
  display: flex;
  width:450px;
  height: 1000px;
  flex-direction: row;
}

.chatBox {
  display: flex;
  flex-direction: column;
}

.chatContent {
  border: 0.5rem #D0EDEF solid;
  color: black;
  border-radius: 1.5px;
}

.btnSet {
  display: flex;
  flex-direction: row;
}