.InputForm {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.InputBox {
  width: 400px;
  height: 48px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
}

.check {
  height: 48px;
  align-items: center;
}

.bidInput {
  height: 48px;
  width: 350px;
}

.liveText {
  margin: 0px;
}

.textBox {
  display: flex;
  align-items: center;
  height: 48px;
}